<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 page-name">
                <h1>Page Admin</h1>
                <h3>Create flower bouquet</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form action="/bouquets" method="POST" class="create-bouquet-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="imageURL">Image</label>
                        <input class="form-control" type="file" name="imageURL">
                    </div>
                    <div class="form-group">
                        <label for="price">Prix</label>
                        <input class="form-control" type="text" name="price" id="price">
                    </div>
                    <div class="form-group">
                        <label for="color">Color</label>
                        <input class="form-control" type="text" name="color" id="color">
                    </div>
                    <div class="form-group">
                        <label for="inputGroupSelect">Catalog</label>
                        <select class="form-control" class="custom-select" name="catalog" id="inputGroupSelect">
                            <option value="specialdays" selected>Special days</option>
                            <option value="congratulation">Congratulation</option>
                            <option value="wedding">Wedding</option>
                            <option value="launchday">Launch day</option>
                        </select>
                    </div>
                    <button class="btn btn-default" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>