<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your flowers</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key=AIzaSyDc6F8eg62zg1bApZdZ2plOQymVwoJA51g">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/vendors/maplace.min.js"></script>

    <script src="/javascripts/main.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/styles-custom.css">
    <link rel="stylesheet" href="/stylesheets/mystyle.css">
</head>

<body>
    <!-- 
            <ul class="navbar-nav">
                <% if (!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">
                                <%= user.email %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <% } %>

                            <li class="nav-item cart">
                                <a href="#" class="nav-link">
                                    <div>
                                        <span>
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                        <span class="cart-item-quantity">0</span>
                                    </div>
                                </a>
                            </li>
            </ul>
    </nav> -->

    <div class="container-fluid navbar-fixed-top head-container homepage page1">
        <div class="container-fluid ">
            <div class="page-header">
                <div class="row addressData">
                    <div class="col-xs-6 col-sm-3">
                        <ul class="list-inline addressData-right">
                            <li class="page1">
                                <a title="Home" href="/">Home</a>
                            </li>
                            <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Daily Flowers
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Company</a>
                                        </li>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                    </ul>
                                </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Celebrations
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/celebrations/specialdays">Special days</a>
                                    </li>
                                    <li>
                                        <a href="/celebrations/congratulation">Congratulation</a>
                                    </li>
                                    <li>
                                        <a href="/celebrations/wedding">Wedding</a>
                                    </li>
                                    <li>
                                        <a href="/celebrations/launchday">Launch day</a>
                                    </li>
                                    <li>
                                        <a href="/celebrations/funeral">Funeral</a>
                                    </li>
                                    <li>
                                        <a href="/celebrations/other">Other</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="page4">
                                <a href="#">Special price</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-9 text-right">
                        <ul class="list-inline addressData-right">
                            <li>
                                <span id="addTel">
                                    <a href="/login">Login</a>
                                </span>
                            </li>
                            <li>
                                <span id="addTel">
                                    <a href="/signup">Signup</a>
                                </span>
                            </li>
                            <li>
                                <span id="admin">
                                    <a href="/create-bouquet">Admin</a>
                                </span>
                            </li>
                            <li>
                                <a class="btn btn-header" id="go-to-cart-btn" href="#">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                    <span id="cart-item-quantity">0</span>
                                </a>
                            </li>
                            <li style="padding-left:3px;">
                                <a class="btn btn-header" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </a>
                            </li>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobilenav" aria-expanded="false"
                                aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="collapse" id="collapseSearch">
                                <div class="well">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="searchBy" id="searchBy" class="form-control" placeholder="Search">
                                            <div class="input-group-addon">
                                                <a href="javascript:goToPage();">go</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- TESTING THE MOBILE DROP DOWN -->
                            <div id="mobilenav" class="collapse">
                                <nav class="">
                                    <div>
                                        <ul class="mobile-nav">
                                            <li class="page1">
                                                <a class="current" title="Home" href="/">Home</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Celebrations
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="/celebrations/specialdays">Special days</a>
                                                    </li>
                                                    <li>
                                                        <a href="/celebrations/congratulation">Congratulation</a>
                                                    </li>
                                                    <li>
                                                        <a href="/celebrations/wedding">Wedding</a>
                                                    </li>
                                                    <li>
                                                        <a href="/celebrations/launchday">Launch day</a>
                                                    </li>
                                                    <li>
                                                        <a href="/celebrations/funeral">Funeral</a>
                                                    </li>
                                                    <li>
                                                        <a href="/celebrations/other">Other</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Daily Flowers
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#">Company</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Home</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="page4">
                                                <a title="Wedding Flowers" href="#">Special price</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--/.nav-collapse -->
                                </nav>
                            </div>
                        </ul>
                    </div>
                </div>
                <!-- END OF MOBILE DROP DOWN TEST -->
            </div>
        </div>
    </div>
    <%- body %>
        <div class="container-fluid homepage page2 footerContainer">

            <div class="container">
                <div class="row" id="footer">
                    <!-- <div class="col-md-4 text-center">
                        <dl id="sitemap">
                            <dt>Information</dt>
                            <dd>
                                <a title="Home" href="/">Home</a>
                            </dd>
                            <dd>
                                <a title="Bouquets" href="/bouquets.htm">Bouquets</a>
                            </dd>
                            <dd>
                                <a title="Wedding Flowers" href="/celebrations/">Wedding Flowers</a>
                            </dd>
                            <dd>
                                <a title="Sympathy" href="/sympathy.htm">Sympathy</a>
                            </dd>
                            <dd>
                                <a title="Flower Gallery" href="/flower-gallery.htm">Flower Gallery</a>
                            </dd>
                            <dd>
                                <a title="About" href="/about.htm">About</a>
                            </dd>
                            <dd>
                                <a title="Delivery" href="/delivery.htm">Delivery</a>
                            </dd>
                            <dd>
                                <a title="Contact Us" href="/contact-us.htm">Contact Us</a>
                            </dd>
                        </dl>
                    </div> -->
                    <div class="col-md-6 text-center">

                        <!-- Footer Address -->
                        <dl class="footAddress">
                            <dt>Contact Us</dt>
                            <dd>35 Townmead Business Centre, William Morris Way
                                <br>London
                                <br>SW6 2SZ
                                <br>
                            </dd>
                            <dd>0207 384 1443</dd>
                            <dd>
                                <a href="mailto:admin@strudwickflowers.co.uk">admin@strudwickflowers.co.uk</a>
                            </dd>
                            <dd class="footerSocial">
                                <a href="https://www.facebook.com/strudwickflowers" title="Find us on Facebook" target="_blank" class="social">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.instagram.com/strudwickflowers" target="_blank" class="social">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6 text-center">
                        <dl class="footLegal">
                            <dt>Legal</dt>
                            <dd>
                                <a href="/terms-&amp;-conditions.htm" accesskey="8" title="Terms and Conditions">Terms and Conditions</a>
                            </dd>
                            <dd>
                                <a href="/privacy-policy.htm" title="Privacy Policy">Privacy Policy</a>
                            </dd>
                            <dd>
                                <a href="/cookie-policy.htm" title="Cookie Policy">Cookie Policy</a>
                            </dd>
                            <dd>Website created by&nbsp;
                                <a href="http://www.floristpro.co.uk" target="_blank" rel="nofollow">floristPro</a>
                            </dd>
                            <dd>© Clayton Strudwick Flowers Ltd</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>