<div class="container-fluid topnav-container">
    <div class="container ">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="/images/Espresso Shot.png" alt="">
                </a>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                <%= title %>
            </h1>
            <p>Welcome to
                <%= title %>
            </p>
        </div>
    </div>
</div>