<section class="container main">
  <div class="row">
    <div class="col-sm-12 col-lg-3">
      <div class="">
        <h2>
          <%= pageName %>
        </h2>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Sort</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Price: ascending</option>
          <option value="2">Price: descending</option>
        </select>
      </div>
    </div>
  </div>
  <hr>
</section>
<section class="container" id="product">
  <div class="container-fluid">
    <div class="row">
      <% for(var i = 0; i < bouquets.length; i++) { %>
        <div class="col-sm-12 col-lg-3" id="single-product">
          <a href="/flowers/<%= bouquets[i]._id %>">
            <div class="education-block">
              <h5>
                <%= bouquets[i].name %>
              </h5>
              <img src="<%= bouquets[i].images[0].link %>" alt="rose">
            </div>
          </a>
        </div>
        <% } %>
    </div>
  </div>
</section>

<script src="/javascripts/main.js"></script>