<section class="container main">
  <div class="row">
    <div class="col-sm-12 col-lg-3">
      <div class="">
        <h2>Special days</h2>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Filter</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>
  <hr>
</section>
<section class="container" id="product">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Rose Elegance</h5>
          <img src="/images/rose-birthday.jpg" alt="rose">
        </div>
      </div>
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Sunset </h5>
          <img src="/images/mix-special.jpg" alt="rose">
        </div>
      </div>
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Rose mix</h5>
          <img src="/images/mix2-special.jpg" alt="rose">
        </div>
      </div>
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Rose mix</h5>
          <img src="/images/rose-special.jpg" alt="rose">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Rose Elegance</h5>
          <img src="/images/rose-birthday.jpg" alt="rose">
        </div>
      </div>
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Sunset </h5>
          <img src="/images/mix-special.jpg" alt="rose">
        </div>
      </div>
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Rose mix</h5>
          <img src="/images/mix2-special.jpg" alt="rose">
        </div>
      </div>
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Rose mix</h5>
          <img src="/images/rose-special.jpg" alt="rose">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Rose Elegance</h5>
          <img src="/images/rose-birthday.jpg" alt="rose">
        </div>
      </div>
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Sunset </h5>
          <img src="/images/mix-special.jpg" alt="rose">
        </div>
      </div>
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Rose mix</h5>
          <img src="/images/mix2-special.jpg" alt="rose">
        </div>
      </div>
      <div class="col-sm-12 col-lg-3" id="single-product">
        <div class="education-block">
          <h5>Rose mix</h5>
          <img src="/images/rose-special.jpg" alt="rose">
        </div>
      </div>
    </div>
  </div>
</section>