<div class="page">
  <section class="container main">
    <div class="row">
      <div class="col-sm-12 page-name">
        <h1>
          Daily flowers /
          <%= pageName %>
        </h1>
      </div>
      <div class="col-sm-12 col-lg-3">
      </div>
    </div>
    <hr>
  </section>
  <section class="container" id="product">
    <div class="pageDesigns">
      <div class="designList">
        <div class="row desSelection">
          <div class="col-sm-6 col-md-4 productCol">
            <div class="panel panel-default designButton">
              <div class="panel-body">
                <a href="#" title="The Baker Street">
                  <img class="img-responsive center-block" src="/images/rose-birthday.jpg" alt="The Baker Street">
                  <span class="title">
                    Elegant
                  </span>
                  <span class="price">
                    100€
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 productCol">
              <div class="panel panel-default designButton">
                <div class="panel-body">
                  <a href="#" title="The Baker Street">
                    <img class="img-responsive center-block" src="/images/mix-special.jpg" alt="The Baker Street">
                    <span class="title">
                      Mix
                    </span>
                    <span class="price">
                      120€
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 productCol">
                <div class="panel panel-default designButton">
                  <div class="panel-body">
                    <a href="#" title="The Baker Street">
                      <img class="img-responsive center-block" src="/images/mix2-special.jpg" alt="The Baker Street">
                      <span class="title">
                        Deluxe
                      </span>
                      <span class="price">
                        140€
                      </span>
                    </a>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/javascripts/order.js"></script>
</div>