<div class="container content-container page">
    <div id="content">
        <div id="pageContent" class="clearfix">
            <!--Left Menu -->
            <div class="col-sm-3 highlight catNavigator hidden-xs" id="leftNavigator">

            </div>
            <!-- Page Content -->
            <div id="info" class="col-sm-9 contentLeft">

                <div class="row" id="designBlock">

                    <form id="designDetail" name="design" method="get" action="#" novalidate="novalidate">

                        <div class="col-sm-12" id="cartMessage"></div>

                        <div class="col-sm-6" id="detailLeft">
                            <h1>
                                <%= bouquet.name %>
                            </h1>

                            <div class="designPrices">
                                <div class="form-group">
                                    <p class="designBold">Choose a price</p>
<<<<<<< HEAD

                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="required" name="price" id="price" data-label="Standard" value="45.00" alt="Standard" aria-required="true">45.00 euro - Standard</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="price" id="price" data-label="Grand" value="60.00" alt="Grand">60.00 euro - Grand</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="price" id="price" value="75.00" data-label="Superior" alt="Superior">75.00 euro - Superior</label>
=======
                                    <div class="radio">
                                        <label>
                                            €<%= bouquet.price %>
                                        </label>
>>>>>>> 7d058d026a7fc31bdc4c476acd427eb8c122f7c7
                                    </div>
                                </div>
                            </div>
                            <p>
                                <input type="submit" class="btn btn-primary btnspace" value="Buy">
                                <a class="btn btn-default" href="javascript: history.go(-1)">Back</a>
                                <input type="hidden" name="attrId" value="0">
                            </p>
                        </div>

                        <div class="col-sm-6" id="detailRight">
                            <p>
                                <a class="preview image cboxElement" href="/upload/files/products/lg_20159127-the-covent-garden.jpg" title="The Covent Garden">
                                    <img class="img-responsive mainImage" src="<%= bouquet.images[0].link %>" alt="The Covent Garden">
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
                <!-- end of design block -->
            </div>

        </div>
    </div>

</div>