<div class="page">
  <section class="container">
    <div class="fleft page-name">
      <h1>Stores finder</h1>
    </div>
    <div id="gmap"></div>
  </section>
</div>

<script src="/javascripts/maps.js"></script>