<section class="container">
  <div class="fleft">
    <h1>Store finder</h1>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Stores</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">Store 1</option>
        <option value="2">Store 2</option>
        <option value="3">Store 3</option>
      </select>
    </div>
  </div>
  <div id="map"></div>
</section>

<script src="javascripts/main.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc6F8eg62zg1bApZdZ2plOQymVwoJA51g&libraries=places&callback=initMap">
</script>